---
import "../../assets/global.css";
import styles from "../index.module.less";
import OutFirstScreenApp from "../AppSpllit/Apps/OutFirstScreen/index.vue";
---

<div class={styles.container}>
  <div class={styles.headerApp}>Header App</div>
  <div class={styles.menuApp}>Menu HTML</div>
  <div class={styles.mainApp}>
    <div class={styles.filterApp}>Filter App</div>
    <div class={styles.middle}>
      <div>Image List App</div>
      <div>Products Html</div>
    </div>
    <div class={styles.configApp}>Config Add App</div>
  </div>
  <div class={styles.footerApp}>Footer App</div>
</div>

<OutFirstScreenApp />
